<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/index.css">
    <title>Makers BnB!</title>
  </head>
    <body>
      <center>
        <!-- div class userpanel creates the css field -->
        <div class="userpanel">
          <!-- div class logo is an image file of the logo -->
          <div class="logo">
            <img align="center" src="https://image.ibb.co/bMhA3H/mbb_header.png" width="825" height="200">
          </div>
          <!-- div class userlogin is the login form on the homepage -->
            <div class="userlogin">
               <% if !@user %>
                 <a id="signup" href="/users/new" class="heading">Sign Up!</a><br><br>
                 <form action="/sessions" method="post">
                   <input type="text" name="username" placeholder="User name:" class="textboxes">
                 <br><br>
                   <input type="text" name="password" placeholder="Password:" class="textboxes">
                 <br><br>
                   <input type="submit" value="SIGN IN">
                 </form>
               <% end %>
             </div>
            <!-- div class welcome-user is the welcome message and user buttons that are displayed after login -->
            <div class="welcome-user">
              <% if @user %>
                <h1>Welcome <%= @user.username %>!</h1>
                  <form action="/profile" method="get" class="inline-buttons">
                    <button type="submit" value="USER PROFILE"></button><br>
                  </form>
                  <form action="/sessions/destroy" method="post" class="inline-buttons">
                    <button type="submit" value="SIGN OUT"></button><br>
                  </form>
                  <br><br>
              <% end %>
             </div>
            <!-- div class createspace is the form for adding a space -->
            <div class="createspace">
              <% if @user %>
                <form action="/properties" method="post">
                  <input type="text" name="address" placeholder="Address:" class="textboxes">
                  <br><br>
                  <input type="number" name="price" placeholder="Price:" step="0.01" class="textboxes">
                  <br><br>
                  <input type="text" name="image" placeholder="Image URL:" class="textboxes">
                  <br><br>
                  <input type="submit" value="CREATE SPACE" class="submit-button">
                </form>
              <% end %>
            </div>
        </div>
          <div class="propertydisplay">
            <p>
              <% @properties.each do |property| %>
                <%= property.address %>
                <%= property.price %>
                <%= property.from_date %>
                <%= property.until_date %>
                <img src="<%= property.image %>">
              <% end %>
            </p>
          </div>
      </center>
    </body>
</html>
