<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/index.css">
    <!-- The following link stylesheet is for Bootstap Glyphicons -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Makers BnB!</title>
  </head>
  <body>
    <header>
      <a href="/"><img src="https://image.ibb.co/hJX9iH/mbb_logo.png" align="right" width="800" alt="logo" /></a>
      <nav>
        <ul>
          <li><i class="glyphicon glyphicon-home"></i><a class="active" href="/"></a></li></button>
          <li><i class="glyphicon glyphicon-user"></i><a name="Users" href="/users/new"></a></li>
        </ul>
      </nav>
    </header>
      <center>
        <div class="webpanel">
          <!-- Can we move this from the main page??? -->
          <% if !@user %>
          <%= styled_flash %>
            <form action="/sessions" method="post">
              <input type="text" name="username" placeholder="User name:" class="textboxes">
              <br>
              <input type="text" name="password" placeholder="Password:" class="textboxes">
              <br><br>
              <input type="submit" value="SIGN IN" class="inline-buttons">
              <br><br>
            </form>
          <% end %>
          <p>
            <% @properties.each do |property| %>
              <img id="properties" src="<%= property.image %>"><br>
              <%= property.address %><br>
              £<%= property.price %> per night!<br>
              Available from:<%= property.from_date %><br>
              Available until:<%= property.until_date %>
              <!-- request button -->
              <form id="<%= property.id %>" action="/request" method="post">
                <input type="submit" name="Request" value="Request">
                <input type="hidden" name="property-id" value="<%= property.user_id %>">
              </form>
                <!-- request button -->
            <% end %>
          </p>
              <!-- div class welcome-user is the welcome message and user buttons that are displayed after login -->
              <div class="welcome-user">
                <% if @user %>
                  <h1>Welcome <%= @user.username %>!</h1>
                    <form action="/profile" method="get" class="inline-buttons">
                    <input type="submit" value="USER PROFILE">
                    </form>
                    <form action="/sessions/destroy" method="post" class="inline-buttons">
                    <input type="submit" value="SIGN OUT">
                    </form>
                    <br><br>
                <% end %>
               </div>
              <!-- div class createspace is the form for adding a space -->
              <div class="createspace">
                <% if @user %>
                  <form action="/properties" method="post">
                    <input type="text" name="address" placeholder="Address:" class="textboxes">
                    <br><br>
                    <input type="number" name="price" placeholder="Price:" step="0.01" class="textboxes">
                    <br><br>
                    <input type="text" name="image" placeholder="Image URL:" class="textboxes">
                    <br><br>

                    <!-- Updating form to include date range  -->
                    <input type="date" name="from" placeholder="from:" class="textboxes">
                    <input type="date" name="until" placeholder="until" class="textboxes">
                    <!-- Updating form to include date range  -->


                    <input type="submit" value="CREATE SPACE" class="submit-button">
                  </form>
                <% end %>
              </div>
          </div>

              </p>
            </div>
        </center>
      </body>
  </html>
