<html>
  <head>
    <title><%= @user.username %>
      profile</title>
  </head>
  <body>
    <h1><%= @user.username %>
      profile</h1>
    <p>
      You are
      <%= @user.username %>
      Your email address is
      <%= @user.email %>
      Your properties:
    </p>
    <p>
      <% @properties.each do |property| %>
        <% if @user.id == property.user_id %>
          <%= property.address %>
          <%= property.price %>
          <p>
          <img src="<%= property.image %>">
        </p>
          <form id="<%= property.id %>" action="/properties/<%= property.id %>/update" method="post">
            <input type="text" name="address" placeholder="Update address:" class="userentry">
            <input type="text" name="price" placeholder="Update price:" class="userentry">
            <input type="submit" value="<%= property.id %>-Update">
          </form>
        <% end %>
      <% end %>
    </p>

  </body>
</html>
